__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
.git
.github
.cache
.pytest_cache
.coverage
htmlcov
dist
build
*.egg-info
.DS_Store
Thumbs.db
docker-compose.yml
Dockerfile*
docker-compose*
.dockerignore
.gitignore
README.md
LICENSE